.headertype1{
    background-color: white;

}
.headertype1_layout{
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
}
.headertype1_layout_nav{
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-right: 30px;
}
.flex_grow{
    flex-grow: 1;
}